@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #0a0a0a;
	--foreground: #ededed;
	--primary: #8c3cd2;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

html,
body {
	height: 100%;
	width: 100%;
}
